---

platform_type: aws
os_type: rhel7

http_proxy: ''
https_proxy: ''
no_proxy: ''

timezone:
  region: Australia
  locality: Melbourne

custom_image_provisioner:
  pre:
    timeout: 3600
  post:
    timeout: 3600

aws:
  user: ec2-user
  region: 'ap-southeast-2'
  vpc_id: overwrite-me
  subnet_id: overwrite-me
  source_ami: overwrite-me
  ami_users: ''
  instance_profile: overwrite-me
  install_ssm_agent: true
  install_cloudwatchlogs: true
  root_volume_size: 20
  data_volume_size: 75
  tags:
    - Key: overwrite-me
      Value: overwrite-me
  certificate_arn: overwrite-me
  certificate_key_arn: overwrite-me
  rhel7:
    devicemap_root: /dev/sda1
    devicemap_data_b: /dev/sdb
    devicemap_data_c: /dev/sdc
  centos7:
    devicemap_root: /dev/sda1
    devicemap_data_b: /dev/sdb
    devicemap_data_c: /dev/sdc
  amazon-linux2:
    devicemap_root: /dev/xvda
    devicemap_data_b: /dev/xvdb
    devicemap_data_c: /dev/xvdc

docker:
  source: overwrite-me

aem:
  profile: aem62_sp1_cfp9
  keystore_password: changeit
  author:
    jvm_mem_opts: "-Xss4m -Xms4096m -Xmx8192m"
    start_opts: ''
  publish:
    jvm_mem_opts: "-Xss4m -Xms4096m -Xmx8192m"
    start_opts: ''
  dispatcher:
    version: 4.3.1
  artifacts_base: overwrite-me
  enable_custom_image_provisioner: false
