.DS_Store
.bundle/
.gems/
.idea/
.tmp/
bin/
modules/
stage/
vendor/
*.pem
logs/
.gem
conf/packer/vars/*local.json
conf/puppet/hieradata/local*.yaml
provisioners/ansible/playbooks/*.retry
!/provisioners/puppet/modules/
