.librarian/
.tmp/
modules/
templates/_archive/
.idea/
Vagrantfile
output-virtualbox-iso/
*.box
.vagrant/
packer_cache/
Gemfile.lock
.DS_Store
stage/
*.pem
logs/
crash.log
!/provisioners/puppet/modules/
