{
  "aws_user": "{{ aws.user }}",
  "aws_region": "{{ aws.region }}",
  "aws_vpc_id": "{{ aws.vpc_id }}",
  "aws_subnet_id": "{{ aws.subnet_id }}",
  "source_ami": "{{ aws.source_ami }}",
  "ami_users": "{{ aws.ami_users }}",
  "iam_instance_profile": "{{ aws.instance_profile }}",
  "root_volume_size": "{{ aws.root_volume_size }}",
  "data_volume_size": "{{ aws.data_volume_size }}",
  "docker_source": "{{ docker.source }}",
  "profile": "{{ aem.profile }}",
  "os_type": "{{ os_type }}",
  "platform_type": "{{ platform_type }}",
  "http_proxy": "{{ http_proxy }}",
  "https_proxy": "{{ https_proxy }}",
  "no_proxy": "{{ no_proxy }}",
  "devicemap_root" : "{{ aws[os_type].devicemap_root }}",
  "devicemap_data_b": "{{ aws[os_type].devicemap_data_b }}",
  "devicemap_data_c": "{{ aws[os_type].devicemap_data_c }}",
  "temporary_security_group_source_cidr": "{{ aws.temporary_security_group_source_cidr }}"
}
