{
  "aws_user": "{{ aws.user }}",
  "aws_region": "{{ aws.region }}",
  "aws_vpc_id": "{{ aws.vpc_id }}",
  "aws_subnet_id": "{{ aws.subnet_id }}",
  "profile": "{{ aem.profile }}",
  "source_ami": "{{ aws.source_ami }}",
  "ami_users": "{{ aws.ami_users }}",
  "iam_instance_profile": "{{ aws.instance_profile }}",
  "os_type": "{{ os_type }}",
  "root_volume_name": "{{ aws.root_volume_name }}",
  "http_proxy": "{{ http_proxy }}",
  "https_proxy": "{{ https_proxy }}",
  "no_proxy": "{{ no_proxy }}"
}
