{
  "aws_user": "{{ aws.user }}",
  "aws_region": "{{ aws.region }}",
  "profile": "{{ aem.profile }}",
  "source_ami": "{{ aws.source_ami }}",
  "os_type": "{{ aws.os }}",
  "iam_instance_profile": "{{ aws.instance_profile }}",
  "http_proxy": "{{ http_proxy }}",
  "https_proxy": "{{ https_proxy }}"
}
